hr {
    margin: 0;
}

.rodape {
    padding: 1em;
    background-color: var(--branco);
}

.rodape__lista {
    display: none;
}

@media screen and (min-width:1024px) {
    .rodape {
        display: flex;
        justify-content: space-between;
        padding: 4em 2.5em ;
        background-color: var(--branco-escuro);
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .rodape__lista {
        display: block;
    }

    .rodape__lista__item{
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .rodape__lista__titulo {
        color: var(--cinza-claro);
        font-size: 14px;
        margin-bottom: 3em;
        text-transform: uppercase;
    }

    .rodape__lista__link {
        margin-left: .5em;
        text-decoration: none;
        color: var(--cinza);
        font-size: 14px;
    }
}

@media screen and (min-width:1728px) {
    .rodape {
        padding: 4em 12vw;
    }

    .rodape__lista {
        border-left: 1px solid var(--cinza-claro);
        padding: 2em;
    }
}